@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
.icon {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}
.description {
  margin-bottom: 40px;
  text-align: center;
}
h2 {
  font-style: bold;
  font-size: 26px;
  margin-bottom: 30px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #070707;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.result {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 500px;
}
.resultSection {
  background-color: #efefef;
  padding: 25px;
  border-radius: 20px;
  font-style: italic;
}
img[src=""] {
  display: none;
}
.aiPicture { 
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 100px;
}
.footnote {
  font-size: 13px;
}