<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='chatIcon.jpg') }}" class="icon" />
  <h3 class="title">Creative Writing Generator</h3>
  <div class="description">
    <p>Input a prompt topic to generate a sentence.</p>
    <p> Then use the sentence in a story.</p>
  </div>
  <form action="/" method="post">
    <input type="text" name="userText" placeholder="Enter a prompt" required />
    <input type="submit" value="Send" />
  </form>
  
  {% if result %}
  <div class="result">
    <h2>Robot says: </h2>
    {{ result }}
  </div>
  {% endif %}
</body>
